table {
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  color: black;
}
thead {
  background-color: #04aa6d;
}
