<app-navbar></app-navbar>
<br />
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>IME</th>
      <th>PREZIME</th>
      <th>EMAIL</th>
      <th>BROJ_TELEFONA</th>
      <th>ADRESA</th>
      <th>GRAD</th>
      <th>FIRMA</th>
      <th>POZICIJA</th>
      <th>DATUM_REGISTRACIJE</th>
      <th>PRODAVAC_ID</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Napravi prodaju</th>
    </tr>
  </thead>

  <tr *ngFor="let potrosac of potrosaci; let i; as: index">
    <th>{{ this.potrosac.id }}</th>
    <th>{{ this.potrosac.ime }}</th>
    <th>{{ this.potrosac.prezime }}</th>
    <th>{{ this.potrosac.email }}</th>
    <th>{{ this.potrosac.broj_telefona }}</th>
    <th>{{ this.potrosac.adresa }}</th>
    <th>{{ this.potrosac.grad }}</th>
    <th>{{ this.potrosac.firma }}</th>
    <th>{{ this.potrosac.pozicija }}</th>
    <th>{{ this.potrosac.datum_registracije | date }}</th>
    <th>{{ this.potrosac.prodavac_id }}</th>
    <th>
      <button class="greenButtonSmall" (click)="updatePotrosac(i)">Edit</button>
    </th>
    <th>
      <button class="redButtonSmall" (click)="deletePotrosac(i)">Delete</button>
    </th>
    <th>
      <button class="blueButtonSmall" (click)="napraviProdaju(i)">
        Napravi Prodaju
      </button>
    </th>
  </tr>
</table>
<br />
<button class="greenButton" (click)="dodajPotrosaca()">Dodaj Potrosaca</button>
<!-- <app-dodajpotrosaca></app-dodajpotrosaca> -->
