<!-- <div class="container">
  <form action="login()">
    <label for=""> Email</label>

    <input name="email" type="email" [(ngModel)]="email" />

    <label for=""> Password</label>

    <input name="password" type="password" [(ngModel)]="password" />

    <input type="submit" value="Login" (click)="login()" />
    <button class="greenButton" (click)="register()">Register</button>
  </form>
</div> -->
<div class="container">
  <form (ngSubmit)="login()">
    <label>Email:</label>
    <input
      type="text"
      [(ngModel)]="email"
      name="email"
      required
      minlength="3"
      maxlength="50"
    />

    <br />
    <label>Password:</label>

    <input type="text" [(ngModel)]="password" name="broj_telefona" required />
    <br />

    <button class="greenButton" type="submit">Login</button>
    <button class="greeyGreen" (click)="register()">Register</button>
  </form>
</div>
